<header>
	<div class="cover"></div>
</header>
<div style="text-align: center; margin: auto; width: 700px; padding-top: 20px;">
	<div style="float: left;"><%= button_to "Book Listing", master_listing_path, id: "master_listing", :method => :get %></div>
	<div style="float: right;"><%= button_to "Create Listing", new_listing_path, id: "new_listing", :method => :get %></div>
</div>