<div id="landing_bg">
	<div id="logo"><%= image_tag("easy_park_logo.png", size: "400") %></div></br></br></br>
	<%= button_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", :method => :get %>
</div>