// Place all the styles related to profile here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile {
	padding: 5% 10% 0% 10%;
}

#profile h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	text-align: center;
	color: blue;
}

#edit_profile {
	padding: 10%;
}

#ProfileWrapper {
	
}